<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dota 2 Prediction</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
*{
  box-sizing: border-box;
}

body{
    overflow-y : auto;
}

/* Create two equal columns that floats next to each other */
.column {
      float: left;
      width: 50%;
      padding: 10px;
}
  
* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>

<body>
  <div class="row">
    <div class="column">
      <h1>Team 1</h1>
        <div class="login1">
          <h2>Choose your heroes</h2>
          <form action="{{url_for('predict')}}" class="ordinary_form" method="post">
            <h3>Team 1 Player 1</h3>
            <select required name= 'tvalue1_1'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=198>Abaddon</option>
              <option value=208>Abyssal Underlord</option>
              <option value=140>Alchemist</option>
              <option value=132>Ancient Apparition</option>
              <option value=0>Anti-Mage</option>
              <option value=218>Arc Warden</option>
              <option value=2>Axe</option>
              <option value=4>Bane</option>
              <option value=124>Batrider</option>
              <option value=70>Beastmaster</option>
              <option value=6>Bloodseeker</option>
              <option value=118>Bounty Hunter</option>
              <option value=150>Brewmaster</option>
              <option value=192>Bristleback</option>
              <option value=116>Broodmother</option>
              <option value=186>Centuar Warrunner</option>
              <option value=156>Chaos Knight</option>
              <option value=126>Chen</option>
              <option value=106>Clinkz</option>
              <option value=96>Clockwerk</option>
              <option value=8>Crystal Maiden</option>
              <option value=104>Dark Seer</option>
              <option value=94>Dazzle</option>
              <option value=80>Death Prophet</option>
              <option value=168>Disruptor</option>
              <option value=130>Doom</option>
              <option value=92>Dragon Knight</option>
              <option value=10>Drow Ranger</option>
              <option value=206>Earth Spirit</option>
              <option value=12>Earthshaker</option>
              <option value=200>Elder Titan</option>
              <option value=204>Ember Spirit</option>
              <option value=110>Enchantress</option>
              <option value=60>Enigma</option>
              <option value=76>Faceless Void</option>
              <option value=138>Gyrocopter</option>
              <option value=112>Huskar</option>
              <option value=142>Invoker</option>
              <option value=122>Jakiro</option>
              <option value=14>Juggernaut</option>
              <option value=174>Keeper of the Light</option>
              <option value=44>Kunkka</option>
              <option value=202>Legion Commander</option>
              <option value=98>Leshrac</option>
              <option value=46>Lich</option>
              <option value=102>Lifestealer</option>
              <option value=48>Lion</option>
              <option value=154>Lone Druid</option>
              <option value=90>Luna</option>
              <option value=148>Lycanthrope</option>
              <option value=188>Magnus</option>
              <option value=182>Medusa</option>
              <option value=158>Meepo</option>
              <option value=16>Mirana</option>
              <option value=20>Morphling</option>
              <option value=172>Naga Siren</option>
              <option value=100>Nature's Prophet</option>
              <option value=66>Necrophos</option>
              <option value=114>Night Stalker</option>
              <option value=170>Nyx Assassin</option>
              <option value=162>Ogre Magi</option>
              <option value=108>Omniknight</option>
              <option value=214>Oracle</option>
              <option value=146>Outworld Devourer</option>
              <option value=82>Phantom Assassin</option>
              <option value=22>Phantom Lancer</option>
              <option value=24>Puck</option>
              <option value=26>Pudge</option>
              <option value=84>Pugna</option>
              <option value=72>Queen of Pain</option>
              <option value=28>Razor</option>
              <option value=58>Riki</option>
              <option value=166>Rubick</option>
              <option value=30>Sand King</option>
              <option value=152>Shadow Demon</option>
              <option value=18>Shadow Fiend</option>
              <option value=50>Shadow Shaman</option>
              <option value=144>Silencer</option>
              <option value=78>Skeleton King</option>
              <option value=196>Skywrath Mage</option>
              <option value=52>Slardar</option>
              <option value=180>Slark</option>
              <option value=64>Sniper</option>
              <option value=128>Spectre</option>
              <option value=136>Spirit Breaker</option>
              <option value=32>Storm Spirit</option>
              <option value=34>Sven</option>
              <option value=212>Techies</option>
              <option value=86>Templar Assassin</option>
              <option value=210>Terrorblade</option>
              <option value=54>Tidehunter</option>
              <option value=190>Timbersaw</option>
              <option value=62>Tinker</option>
              <option value=36>Tiny</option>
              <option value=160>Treant Protector</option>
              <option value=184>Troll Warlord</option>
              <option value=194>Tusk</option>
              <option value=164>Undying</option>
              <option value=134>Ursa</option>
              <option value=38>Vengeful Spirit</option>
              <option value=74>Venomancer</option>
              <option value=88>Viper</option>
              <option value=178>Visage</option>
              <option value=68>Warlock</option>
              <option value=120>Weaver</option>
              <option value=40>Windranger</option>
              <option value=216>Winter Wyvern</option>
              <option value=176>Wisp</option>
              <option value=56>Witch Doctor</option>
              <option value=42>Zeus</option>
            </select><br>
            <h3>Team 1 Player 2</h3>
            <select required name= 'tvalue1_2'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=198>Abaddon</option>
              <option value=208>Abyssal Underlord</option>
              <option value=140>Alchemist</option>
              <option value=132>Ancient Apparition</option>
              <option value=0>Anti-Mage</option>
              <option value=218>Arc Warden</option>
              <option value=2>Axe</option>
              <option value=4>Bane</option>
              <option value=124>Batrider</option>
              <option value=70>Beastmaster</option>
              <option value=6>Bloodseeker</option>
              <option value=118>Bounty Hunter</option>
              <option value=150>Brewmaster</option>
              <option value=192>Bristleback</option>
              <option value=116>Broodmother</option>
              <option value=186>Centuar Warrunner</option>
              <option value=156>Chaos Knight</option>
              <option value=126>Chen</option>
              <option value=106>Clinkz</option>
              <option value=96>Clockwerk</option>
              <option value=8>Crystal Maiden</option>
              <option value=104>Dark Seer</option>
              <option value=94>Dazzle</option>
              <option value=80>Death Prophet</option>
              <option value=168>Disruptor</option>
              <option value=130>Doom</option>
              <option value=92>Dragon Knight</option>
              <option value=10>Drow Ranger</option>
              <option value=206>Earth Spirit</option>
              <option value=12>Earthshaker</option>
              <option value=200>Elder Titan</option>
              <option value=204>Ember Spirit</option>
              <option value=110>Enchantress</option>
              <option value=60>Enigma</option>
              <option value=76>Faceless Void</option>
              <option value=138>Gyrocopter</option>
              <option value=112>Huskar</option>
              <option value=142>Invoker</option>
              <option value=122>Jakiro</option>
              <option value=14>Juggernaut</option>
              <option value=174>Keeper of the Light</option>
              <option value=44>Kunkka</option>
              <option value=202>Legion Commander</option>
              <option value=98>Leshrac</option>
              <option value=46>Lich</option>
              <option value=102>Lifestealer</option>
              <option value=48>Lion</option>
              <option value=154>Lone Druid</option>
              <option value=90>Luna</option>
              <option value=148>Lycanthrope</option>
              <option value=188>Magnus</option>
              <option value=182>Medusa</option>
              <option value=158>Meepo</option>
              <option value=16>Mirana</option>
              <option value=20>Morphling</option>
              <option value=172>Naga Siren</option>
              <option value=100>Nature's Prophet</option>
              <option value=66>Necrophos</option>
              <option value=114>Night Stalker</option>
              <option value=170>Nyx Assassin</option>
              <option value=162>Ogre Magi</option>
              <option value=108>Omniknight</option>
              <option value=214>Oracle</option>
              <option value=146>Outworld Devourer</option>
              <option value=82>Phantom Assassin</option>
              <option value=22>Phantom Lancer</option>
              <option value=24>Puck</option>
              <option value=26>Pudge</option>
              <option value=84>Pugna</option>
              <option value=72>Queen of Pain</option>
              <option value=28>Razor</option>
              <option value=58>Riki</option>
              <option value=166>Rubick</option>
              <option value=30>Sand King</option>
              <option value=152>Shadow Demon</option>
              <option value=18>Shadow Fiend</option>
              <option value=50>Shadow Shaman</option>
              <option value=144>Silencer</option>
              <option value=78>Skeleton King</option>
              <option value=196>Skywrath Mage</option>
              <option value=52>Slardar</option>
              <option value=180>Slark</option>
              <option value=64>Sniper</option>
              <option value=128>Spectre</option>
              <option value=136>Spirit Breaker</option>
              <option value=32>Storm Spirit</option>
              <option value=34>Sven</option>
              <option value=212>Techies</option>
              <option value=86>Templar Assassin</option>
              <option value=210>Terrorblade</option>
              <option value=54>Tidehunter</option>
              <option value=190>Timbersaw</option>
              <option value=62>Tinker</option>
              <option value=36>Tiny</option>
              <option value=160>Treant Protector</option>
              <option value=184>Troll Warlord</option>
              <option value=194>Tusk</option>
              <option value=164>Undying</option>
              <option value=134>Ursa</option>
              <option value=38>Vengeful Spirit</option>
              <option value=74>Venomancer</option>
              <option value=88>Viper</option>
              <option value=178>Visage</option>
              <option value=68>Warlock</option>
              <option value=120>Weaver</option>
              <option value=40>Windranger</option>
              <option value=216>Winter Wyvern</option>
              <option value=176>Wisp</option>
              <option value=56>Witch Doctor</option>
              <option value=42>Zeus</option>
            </select><br>
            <h3>Team 1 Player 3</h3>
            <select required name= 'tvalue1_3'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=198>Abaddon</option>
              <option value=208>Abyssal Underlord</option>
              <option value=140>Alchemist</option>
              <option value=132>Ancient Apparition</option>
              <option value=0>Anti-Mage</option>
              <option value=218>Arc Warden</option>
              <option value=2>Axe</option>
              <option value=4>Bane</option>
              <option value=124>Batrider</option>
              <option value=70>Beastmaster</option>
              <option value=6>Bloodseeker</option>
              <option value=118>Bounty Hunter</option>
              <option value=150>Brewmaster</option>
              <option value=192>Bristleback</option>
              <option value=116>Broodmother</option>
              <option value=186>Centuar Warrunner</option>
              <option value=156>Chaos Knight</option>
              <option value=126>Chen</option>
              <option value=106>Clinkz</option>
              <option value=96>Clockwerk</option>
              <option value=8>Crystal Maiden</option>
              <option value=104>Dark Seer</option>
              <option value=94>Dazzle</option>
              <option value=80>Death Prophet</option>
              <option value=168>Disruptor</option>
              <option value=130>Doom</option>
              <option value=92>Dragon Knight</option>
              <option value=10>Drow Ranger</option>
              <option value=206>Earth Spirit</option>
              <option value=12>Earthshaker</option>
              <option value=200>Elder Titan</option>
              <option value=204>Ember Spirit</option>
              <option value=110>Enchantress</option>
              <option value=60>Enigma</option>
              <option value=76>Faceless Void</option>
              <option value=138>Gyrocopter</option>
              <option value=112>Huskar</option>
              <option value=142>Invoker</option>
              <option value=122>Jakiro</option>
              <option value=14>Juggernaut</option>
              <option value=174>Keeper of the Light</option>
              <option value=44>Kunkka</option>
              <option value=202>Legion Commander</option>
              <option value=98>Leshrac</option>
              <option value=46>Lich</option>
              <option value=102>Lifestealer</option>
              <option value=48>Lion</option>
              <option value=154>Lone Druid</option>
              <option value=90>Luna</option>
              <option value=148>Lycanthrope</option>
              <option value=188>Magnus</option>
              <option value=182>Medusa</option>
              <option value=158>Meepo</option>
              <option value=16>Mirana</option>
              <option value=20>Morphling</option>
              <option value=172>Naga Siren</option>
              <option value=100>Nature's Prophet</option>
              <option value=66>Necrophos</option>
              <option value=114>Night Stalker</option>
              <option value=170>Nyx Assassin</option>
              <option value=162>Ogre Magi</option>
              <option value=108>Omniknight</option>
              <option value=214>Oracle</option>
              <option value=146>Outworld Devourer</option>
              <option value=82>Phantom Assassin</option>
              <option value=22>Phantom Lancer</option>
              <option value=24>Puck</option>
              <option value=26>Pudge</option>
              <option value=84>Pugna</option>
              <option value=72>Queen of Pain</option>
              <option value=28>Razor</option>
              <option value=58>Riki</option>
              <option value=166>Rubick</option>
              <option value=30>Sand King</option>
              <option value=152>Shadow Demon</option>
              <option value=18>Shadow Fiend</option>
              <option value=50>Shadow Shaman</option>
              <option value=144>Silencer</option>
              <option value=78>Skeleton King</option>
              <option value=196>Skywrath Mage</option>
              <option value=52>Slardar</option>
              <option value=180>Slark</option>
              <option value=64>Sniper</option>
              <option value=128>Spectre</option>
              <option value=136>Spirit Breaker</option>
              <option value=32>Storm Spirit</option>
              <option value=34>Sven</option>
              <option value=212>Techies</option>
              <option value=86>Templar Assassin</option>
              <option value=210>Terrorblade</option>
              <option value=54>Tidehunter</option>
              <option value=190>Timbersaw</option>
              <option value=62>Tinker</option>
              <option value=36>Tiny</option>
              <option value=160>Treant Protector</option>
              <option value=184>Troll Warlord</option>
              <option value=194>Tusk</option>
              <option value=164>Undying</option>
              <option value=134>Ursa</option>
              <option value=38>Vengeful Spirit</option>
              <option value=74>Venomancer</option>
              <option value=88>Viper</option>
              <option value=178>Visage</option>
              <option value=68>Warlock</option>
              <option value=120>Weaver</option>
              <option value=40>Windranger</option>
              <option value=216>Winter Wyvern</option>
              <option value=176>Wisp</option>
              <option value=56>Witch Doctor</option>
              <option value=42>Zeus</option>
            </select><br>
            <h3>Team 1 Player 4</h3>
            <select required name= 'tvalue1_4'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=198>Abaddon</option>
              <option value=208>Abyssal Underlord</option>
              <option value=140>Alchemist</option>
              <option value=132>Ancient Apparition</option>
              <option value=0>Anti-Mage</option>
              <option value=218>Arc Warden</option>
              <option value=2>Axe</option>
              <option value=4>Bane</option>
              <option value=124>Batrider</option>
              <option value=70>Beastmaster</option>
              <option value=6>Bloodseeker</option>
              <option value=118>Bounty Hunter</option>
              <option value=150>Brewmaster</option>
              <option value=192>Bristleback</option>
              <option value=116>Broodmother</option>
              <option value=186>Centuar Warrunner</option>
              <option value=156>Chaos Knight</option>
              <option value=126>Chen</option>
              <option value=106>Clinkz</option>
              <option value=96>Clockwerk</option>
              <option value=8>Crystal Maiden</option>
              <option value=104>Dark Seer</option>
              <option value=94>Dazzle</option>
              <option value=80>Death Prophet</option>
              <option value=168>Disruptor</option>
              <option value=130>Doom</option>
              <option value=92>Dragon Knight</option>
              <option value=10>Drow Ranger</option>
              <option value=206>Earth Spirit</option>
              <option value=12>Earthshaker</option>
              <option value=200>Elder Titan</option>
              <option value=204>Ember Spirit</option>
              <option value=110>Enchantress</option>
              <option value=60>Enigma</option>
              <option value=76>Faceless Void</option>
              <option value=138>Gyrocopter</option>
              <option value=112>Huskar</option>
              <option value=142>Invoker</option>
              <option value=122>Jakiro</option>
              <option value=14>Juggernaut</option>
              <option value=174>Keeper of the Light</option>
              <option value=44>Kunkka</option>
              <option value=202>Legion Commander</option>
              <option value=98>Leshrac</option>
              <option value=46>Lich</option>
              <option value=102>Lifestealer</option>
              <option value=48>Lion</option>
              <option value=154>Lone Druid</option>
              <option value=90>Luna</option>
              <option value=148>Lycanthrope</option>
              <option value=188>Magnus</option>
              <option value=182>Medusa</option>
              <option value=158>Meepo</option>
              <option value=16>Mirana</option>
              <option value=20>Morphling</option>
              <option value=172>Naga Siren</option>
              <option value=100>Nature's Prophet</option>
              <option value=66>Necrophos</option>
              <option value=114>Night Stalker</option>
              <option value=170>Nyx Assassin</option>
              <option value=162>Ogre Magi</option>
              <option value=108>Omniknight</option>
              <option value=214>Oracle</option>
              <option value=146>Outworld Devourer</option>
              <option value=82>Phantom Assassin</option>
              <option value=22>Phantom Lancer</option>
              <option value=24>Puck</option>
              <option value=26>Pudge</option>
              <option value=84>Pugna</option>
              <option value=72>Queen of Pain</option>
              <option value=28>Razor</option>
              <option value=58>Riki</option>
              <option value=166>Rubick</option>
              <option value=30>Sand King</option>
              <option value=152>Shadow Demon</option>
              <option value=18>Shadow Fiend</option>
              <option value=50>Shadow Shaman</option>
              <option value=144>Silencer</option>
              <option value=78>Skeleton King</option>
              <option value=196>Skywrath Mage</option>
              <option value=52>Slardar</option>
              <option value=180>Slark</option>
              <option value=64>Sniper</option>
              <option value=128>Spectre</option>
              <option value=136>Spirit Breaker</option>
              <option value=32>Storm Spirit</option>
              <option value=34>Sven</option>
              <option value=212>Techies</option>
              <option value=86>Templar Assassin</option>
              <option value=210>Terrorblade</option>
              <option value=54>Tidehunter</option>
              <option value=190>Timbersaw</option>
              <option value=62>Tinker</option>
              <option value=36>Tiny</option>
              <option value=160>Treant Protector</option>
              <option value=184>Troll Warlord</option>
              <option value=194>Tusk</option>
              <option value=164>Undying</option>
              <option value=134>Ursa</option>
              <option value=38>Vengeful Spirit</option>
              <option value=74>Venomancer</option>
              <option value=88>Viper</option>
              <option value=178>Visage</option>
              <option value=68>Warlock</option>
              <option value=120>Weaver</option>
              <option value=40>Windranger</option>
              <option value=216>Winter Wyvern</option>
              <option value=176>Wisp</option>
              <option value=56>Witch Doctor</option>
              <option value=42>Zeus</option>
            </select><br>
            <h3>Team 1 Player 5</h3>
            <select required name= 'tvalue1_5'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=198>Abaddon</option>
              <option value=208>Abyssal Underlord</option>
              <option value=140>Alchemist</option>
              <option value=132>Ancient Apparition</option>
              <option value=0>Anti-Mage</option>
              <option value=218>Arc Warden</option>
              <option value=2>Axe</option>
              <option value=4>Bane</option>
              <option value=124>Batrider</option>
              <option value=70>Beastmaster</option>
              <option value=6>Bloodseeker</option>
              <option value=118>Bounty Hunter</option>
              <option value=150>Brewmaster</option>
              <option value=192>Bristleback</option>
              <option value=116>Broodmother</option>
              <option value=186>Centuar Warrunner</option>
              <option value=156>Chaos Knight</option>
              <option value=126>Chen</option>
              <option value=106>Clinkz</option>
              <option value=96>Clockwerk</option>
              <option value=8>Crystal Maiden</option>
              <option value=104>Dark Seer</option>
              <option value=94>Dazzle</option>
              <option value=80>Death Prophet</option>
              <option value=168>Disruptor</option>
              <option value=130>Doom</option>
              <option value=92>Dragon Knight</option>
              <option value=10>Drow Ranger</option>
              <option value=206>Earth Spirit</option>
              <option value=12>Earthshaker</option>
              <option value=200>Elder Titan</option>
              <option value=204>Ember Spirit</option>
              <option value=110>Enchantress</option>
              <option value=60>Enigma</option>
              <option value=76>Faceless Void</option>
              <option value=138>Gyrocopter</option>
              <option value=112>Huskar</option>
              <option value=142>Invoker</option>
              <option value=122>Jakiro</option>
              <option value=14>Juggernaut</option>
              <option value=174>Keeper of the Light</option>
              <option value=44>Kunkka</option>
              <option value=202>Legion Commander</option>
              <option value=98>Leshrac</option>
              <option value=46>Lich</option>
              <option value=102>Lifestealer</option>
              <option value=48>Lion</option>
              <option value=154>Lone Druid</option>
              <option value=90>Luna</option>
              <option value=148>Lycanthrope</option>
              <option value=188>Magnus</option>
              <option value=182>Medusa</option>
              <option value=158>Meepo</option>
              <option value=16>Mirana</option>
              <option value=20>Morphling</option>
              <option value=172>Naga Siren</option>
              <option value=100>Nature's Prophet</option>
              <option value=66>Necrophos</option>
              <option value=114>Night Stalker</option>
              <option value=170>Nyx Assassin</option>
              <option value=162>Ogre Magi</option>
              <option value=108>Omniknight</option>
              <option value=214>Oracle</option>
              <option value=146>Outworld Devourer</option>
              <option value=82>Phantom Assassin</option>
              <option value=22>Phantom Lancer</option>
              <option value=24>Puck</option>
              <option value=26>Pudge</option>
              <option value=84>Pugna</option>
              <option value=72>Queen of Pain</option>
              <option value=28>Razor</option>
              <option value=58>Riki</option>
              <option value=166>Rubick</option>
              <option value=30>Sand King</option>
              <option value=152>Shadow Demon</option>
              <option value=18>Shadow Fiend</option>
              <option value=50>Shadow Shaman</option>
              <option value=144>Silencer</option>
              <option value=78>Skeleton King</option>
              <option value=196>Skywrath Mage</option>
              <option value=52>Slardar</option>
              <option value=180>Slark</option>
              <option value=64>Sniper</option>
              <option value=128>Spectre</option>
              <option value=136>Spirit Breaker</option>
              <option value=32>Storm Spirit</option>
              <option value=34>Sven</option>
              <option value=212>Techies</option>
              <option value=86>Templar Assassin</option>
              <option value=210>Terrorblade</option>
              <option value=54>Tidehunter</option>
              <option value=190>Timbersaw</option>
              <option value=62>Tinker</option>
              <option value=36>Tiny</option>
              <option value=160>Treant Protector</option>
              <option value=184>Troll Warlord</option>
              <option value=194>Tusk</option>
              <option value=164>Undying</option>
              <option value=134>Ursa</option>
              <option value=38>Vengeful Spirit</option>
              <option value=74>Venomancer</option>
              <option value=88>Viper</option>
              <option value=178>Visage</option>
              <option value=68>Warlock</option>
              <option value=120>Weaver</option>
              <option value=40>Windranger</option>
              <option value=216>Winter Wyvern</option>
              <option value=176>Wisp</option>
              <option value=56>Witch Doctor</option>
              <option value=42>Zeus</option>
            </select><br>
            <style>
              select:invalid { color: gray; }
            </style>          
        </div>
    </div>
    <div class="column">
      <h1>Team 2</h1>
        <div class="login1">
          <h2>Choose your heroes</h2>          
            <h3>Team 2 Player 1</h3>
            <select required name= 'tvalue2_1'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=199>Abaddon</option>
              <option value=209>Abyssal Underlord</option>
              <option value=141>Alchemist</option>
              <option value=133>Ancient Apparition</option>
              <option value=1>Anti-Mage</option>
              <option value=219>Arc Warden</option>
              <option value=3>Axe</option>
              <option value=5>Bane</option>
              <option value=125>Batrider</option>
              <option value=71>Beastmaster</option>
              <option value=7>Bloodseeker</option>
              <option value=119>Bounty Hunter</option>
              <option value=151>Brewmaster</option>
              <option value=193>Bristleback</option>
              <option value=117>Broodmother</option>
              <option value=187>Centuar Warrunner</option>
              <option value=157>Chaos Knight</option>
              <option value=127>Chen</option>
              <option value=107>Clinkz</option>
              <option value=97>Clockwerk</option>
              <option value=9>Crystal Maiden</option>
              <option value=105>Dark Seer</option>
              <option value=95>Dazzle</option>
              <option value=81>Death Prophet</option>
              <option value=169>Disruptor</option>
              <option value=131>Doom</option>
              <option value=93>Dragon Knight</option>
              <option value=11>Drow Ranger</option>
              <option value=207>Earth Spirit</option>
              <option value=13>Earthshaker</option>
              <option value=201>Elder Titan</option>
              <option value=205>Ember Spirit</option>
              <option value=111>Enchantress</option>
              <option value=61>Enigma</option>
              <option value=77>Faceless Void</option>
              <option value=139>Gyrocopter</option>
              <option value=113>Huskar</option>
              <option value=143>Invoker</option>
              <option value=123>Jakiro</option>
              <option value=15>Juggernaut</option>
              <option value=175>Keeper of the Light</option>
              <option value=45>Kunkka</option>
              <option value=203>Legion Commander</option>
              <option value=99>Leshrac</option>
              <option value=47>Lich</option>
              <option value=103>Lifestealer</option>
              <option value=49>Lion</option>
              <option value=155>Lone Druid</option>
              <option value=91>Luna</option>
              <option value=149>Lycanthrope</option>
              <option value=189>Magnus</option>
              <option value=183>Medusa</option>
              <option value=159>Meepo</option>
              <option value=17>Mirana</option>
              <option value=21>Morphling</option>
              <option value=173>Naga Siren</option>
              <option value=101>Nature's Prophet</option>
              <option value=67>Necrophos</option>
              <option value=115>Night Stalker</option>
              <option value=171>Nyx Assassin</option>
              <option value=163>Ogre Magi</option>
              <option value=109>Omniknight</option>
              <option value=215>Oracle</option>
              <option value=147>Outworld Devourer</option>
              <option value=83>Phantom Assassin</option>
              <option value=23>Phantom Lancer</option>
              <option value=25>Puck</option>
              <option value=27>Pudge</option>
              <option value=85>Pugna</option>
              <option value=73>Queen of Pain</option>
              <option value=29>Razor</option>
              <option value=59>Riki</option>
              <option value=167>Rubick</option>
              <option value=31>Sand King</option>
              <option value=153>Shadow Demon</option>
              <option value=19>Shadow Fiend</option>
              <option value=51>Shadow Shaman</option>
              <option value=145>Silencer</option>
              <option value=79>Skeleton King</option>
              <option value=197>Skywrath Mage</option>
              <option value=53>Slardar</option>
              <option value=181>Slark</option>
              <option value=65>Sniper</option>
              <option value=129>Spectre</option>
              <option value=137>Spirit Breaker</option>
              <option value=33>Storm Spirit</option>
              <option value=35>Sven</option>
              <option value=213>Techies</option>
              <option value=87>Templar Assassin</option>
              <option value=211>Terrorblade</option>
              <option value=55>Tidehunter</option>
              <option value=191>Timbersaw</option>
              <option value=63>Tinker</option>
              <option value=37>Tiny</option>
              <option value=161>Treant Protector</option>
              <option value=185>Troll Warlord</option>
              <option value=195>Tusk</option>
              <option value=165>Undying</option>
              <option value=135>Ursa</option>
              <option value=39>Vengeful Spirit</option>
              <option value=75>Venomancer</option>
              <option value=89>Viper</option>
              <option value=179>Visage</option>
              <option value=69>Warlock</option>
              <option value=121>Weaver</option>
              <option value=41>Windranger</option>
              <option value=217>Winter Wyvern</option>
              <option value=177>Wisp</option>
              <option value=57>Witch Doctor</option>
              <option value=43>Zeus</option>
            </select><br>
            <h3>Team 2 Player 2</h3>
            <select required name= 'tvalue2_2'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=199>Abaddon</option>
              <option value=209>Abyssal Underlord</option>
              <option value=141>Alchemist</option>
              <option value=133>Ancient Apparition</option>
              <option value=1>Anti-Mage</option>
              <option value=219>Arc Warden</option>
              <option value=3>Axe</option>
              <option value=5>Bane</option>
              <option value=125>Batrider</option>
              <option value=71>Beastmaster</option>
              <option value=7>Bloodseeker</option>
              <option value=119>Bounty Hunter</option>
              <option value=151>Brewmaster</option>
              <option value=193>Bristleback</option>
              <option value=117>Broodmother</option>
              <option value=187>Centuar Warrunner</option>
              <option value=157>Chaos Knight</option>
              <option value=127>Chen</option>
              <option value=107>Clinkz</option>
              <option value=97>Clockwerk</option>
              <option value=9>Crystal Maiden</option>
              <option value=105>Dark Seer</option>
              <option value=95>Dazzle</option>
              <option value=81>Death Prophet</option>
              <option value=169>Disruptor</option>
              <option value=131>Doom</option>
              <option value=93>Dragon Knight</option>
              <option value=11>Drow Ranger</option>
              <option value=207>Earth Spirit</option>
              <option value=13>Earthshaker</option>
              <option value=201>Elder Titan</option>
              <option value=205>Ember Spirit</option>
              <option value=111>Enchantress</option>
              <option value=61>Enigma</option>
              <option value=77>Faceless Void</option>
              <option value=139>Gyrocopter</option>
              <option value=113>Huskar</option>
              <option value=143>Invoker</option>
              <option value=123>Jakiro</option>
              <option value=15>Juggernaut</option>
              <option value=175>Keeper of the Light</option>
              <option value=45>Kunkka</option>
              <option value=203>Legion Commander</option>
              <option value=99>Leshrac</option>
              <option value=47>Lich</option>
              <option value=103>Lifestealer</option>
              <option value=49>Lion</option>
              <option value=155>Lone Druid</option>
              <option value=91>Luna</option>
              <option value=149>Lycanthrope</option>
              <option value=189>Magnus</option>
              <option value=183>Medusa</option>
              <option value=159>Meepo</option>
              <option value=17>Mirana</option>
              <option value=21>Morphling</option>
              <option value=173>Naga Siren</option>
              <option value=101>Nature's Prophet</option>
              <option value=67>Necrophos</option>
              <option value=115>Night Stalker</option>
              <option value=171>Nyx Assassin</option>
              <option value=163>Ogre Magi</option>
              <option value=109>Omniknight</option>
              <option value=215>Oracle</option>
              <option value=147>Outworld Devourer</option>
              <option value=83>Phantom Assassin</option>
              <option value=23>Phantom Lancer</option>
              <option value=25>Puck</option>
              <option value=27>Pudge</option>
              <option value=85>Pugna</option>
              <option value=73>Queen of Pain</option>
              <option value=29>Razor</option>
              <option value=59>Riki</option>
              <option value=167>Rubick</option>
              <option value=31>Sand King</option>
              <option value=153>Shadow Demon</option>
              <option value=19>Shadow Fiend</option>
              <option value=51>Shadow Shaman</option>
              <option value=145>Silencer</option>
              <option value=79>Skeleton King</option>
              <option value=197>Skywrath Mage</option>
              <option value=53>Slardar</option>
              <option value=181>Slark</option>
              <option value=65>Sniper</option>
              <option value=129>Spectre</option>
              <option value=137>Spirit Breaker</option>
              <option value=33>Storm Spirit</option>
              <option value=35>Sven</option>
              <option value=213>Techies</option>
              <option value=87>Templar Assassin</option>
              <option value=211>Terrorblade</option>
              <option value=55>Tidehunter</option>
              <option value=191>Timbersaw</option>
              <option value=63>Tinker</option>
              <option value=37>Tiny</option>
              <option value=161>Treant Protector</option>
              <option value=185>Troll Warlord</option>
              <option value=195>Tusk</option>
              <option value=165>Undying</option>
              <option value=135>Ursa</option>
              <option value=39>Vengeful Spirit</option>
              <option value=75>Venomancer</option>
              <option value=89>Viper</option>
              <option value=179>Visage</option>
              <option value=69>Warlock</option>
              <option value=121>Weaver</option>
              <option value=41>Windranger</option>
              <option value=217>Winter Wyvern</option>
              <option value=177>Wisp</option>
              <option value=57>Witch Doctor</option>
              <option value=43>Zeus</option>
            </select><br>
            <h3>Team 2 Player 3</h3>
            <select required name= 'tvalue2_3'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=199>Abaddon</option>
              <option value=209>Abyssal Underlord</option>
              <option value=141>Alchemist</option>
              <option value=133>Ancient Apparition</option>
              <option value=1>Anti-Mage</option>
              <option value=219>Arc Warden</option>
              <option value=3>Axe</option>
              <option value=5>Bane</option>
              <option value=125>Batrider</option>
              <option value=71>Beastmaster</option>
              <option value=7>Bloodseeker</option>
              <option value=119>Bounty Hunter</option>
              <option value=151>Brewmaster</option>
              <option value=193>Bristleback</option>
              <option value=117>Broodmother</option>
              <option value=187>Centuar Warrunner</option>
              <option value=157>Chaos Knight</option>
              <option value=127>Chen</option>
              <option value=107>Clinkz</option>
              <option value=97>Clockwerk</option>
              <option value=9>Crystal Maiden</option>
              <option value=105>Dark Seer</option>
              <option value=95>Dazzle</option>
              <option value=81>Death Prophet</option>
              <option value=169>Disruptor</option>
              <option value=131>Doom</option>
              <option value=93>Dragon Knight</option>
              <option value=11>Drow Ranger</option>
              <option value=207>Earth Spirit</option>
              <option value=13>Earthshaker</option>
              <option value=201>Elder Titan</option>
              <option value=205>Ember Spirit</option>
              <option value=111>Enchantress</option>
              <option value=61>Enigma</option>
              <option value=77>Faceless Void</option>
              <option value=139>Gyrocopter</option>
              <option value=113>Huskar</option>
              <option value=143>Invoker</option>
              <option value=123>Jakiro</option>
              <option value=15>Juggernaut</option>
              <option value=175>Keeper of the Light</option>
              <option value=45>Kunkka</option>
              <option value=203>Legion Commander</option>
              <option value=99>Leshrac</option>
              <option value=47>Lich</option>
              <option value=103>Lifestealer</option>
              <option value=49>Lion</option>
              <option value=155>Lone Druid</option>
              <option value=91>Luna</option>
              <option value=149>Lycanthrope</option>
              <option value=189>Magnus</option>
              <option value=183>Medusa</option>
              <option value=159>Meepo</option>
              <option value=17>Mirana</option>
              <option value=21>Morphling</option>
              <option value=173>Naga Siren</option>
              <option value=101>Nature's Prophet</option>
              <option value=67>Necrophos</option>
              <option value=115>Night Stalker</option>
              <option value=171>Nyx Assassin</option>
              <option value=163>Ogre Magi</option>
              <option value=109>Omniknight</option>
              <option value=215>Oracle</option>
              <option value=147>Outworld Devourer</option>
              <option value=83>Phantom Assassin</option>
              <option value=23>Phantom Lancer</option>
              <option value=25>Puck</option>
              <option value=27>Pudge</option>
              <option value=85>Pugna</option>
              <option value=73>Queen of Pain</option>
              <option value=29>Razor</option>
              <option value=59>Riki</option>
              <option value=167>Rubick</option>
              <option value=31>Sand King</option>
              <option value=153>Shadow Demon</option>
              <option value=19>Shadow Fiend</option>
              <option value=51>Shadow Shaman</option>
              <option value=145>Silencer</option>
              <option value=79>Skeleton King</option>
              <option value=197>Skywrath Mage</option>
              <option value=53>Slardar</option>
              <option value=181>Slark</option>
              <option value=65>Sniper</option>
              <option value=129>Spectre</option>
              <option value=137>Spirit Breaker</option>
              <option value=33>Storm Spirit</option>
              <option value=35>Sven</option>
              <option value=213>Techies</option>
              <option value=87>Templar Assassin</option>
              <option value=211>Terrorblade</option>
              <option value=55>Tidehunter</option>
              <option value=191>Timbersaw</option>
              <option value=63>Tinker</option>
              <option value=37>Tiny</option>
              <option value=161>Treant Protector</option>
              <option value=185>Troll Warlord</option>
              <option value=195>Tusk</option>
              <option value=165>Undying</option>
              <option value=135>Ursa</option>
              <option value=39>Vengeful Spirit</option>
              <option value=75>Venomancer</option>
              <option value=89>Viper</option>
              <option value=179>Visage</option>
              <option value=69>Warlock</option>
              <option value=121>Weaver</option>
              <option value=41>Windranger</option>
              <option value=217>Winter Wyvern</option>
              <option value=177>Wisp</option>
              <option value=57>Witch Doctor</option>
              <option value=43>Zeus</option>
            </select><br>
            <h3>Team 2 Player 4</h3>
            <select required name= 'tvalue2_4'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=199>Abaddon</option>
              <option value=209>Abyssal Underlord</option>
              <option value=141>Alchemist</option>
              <option value=133>Ancient Apparition</option>
              <option value=1>Anti-Mage</option>
              <option value=219>Arc Warden</option>
              <option value=3>Axe</option>
              <option value=5>Bane</option>
              <option value=125>Batrider</option>
              <option value=71>Beastmaster</option>
              <option value=7>Bloodseeker</option>
              <option value=119>Bounty Hunter</option>
              <option value=151>Brewmaster</option>
              <option value=193>Bristleback</option>
              <option value=117>Broodmother</option>
              <option value=187>Centuar Warrunner</option>
              <option value=157>Chaos Knight</option>
              <option value=127>Chen</option>
              <option value=107>Clinkz</option>
              <option value=97>Clockwerk</option>
              <option value=9>Crystal Maiden</option>
              <option value=105>Dark Seer</option>
              <option value=95>Dazzle</option>
              <option value=81>Death Prophet</option>
              <option value=169>Disruptor</option>
              <option value=131>Doom</option>
              <option value=93>Dragon Knight</option>
              <option value=11>Drow Ranger</option>
              <option value=207>Earth Spirit</option>
              <option value=13>Earthshaker</option>
              <option value=201>Elder Titan</option>
              <option value=205>Ember Spirit</option>
              <option value=111>Enchantress</option>
              <option value=61>Enigma</option>
              <option value=77>Faceless Void</option>
              <option value=139>Gyrocopter</option>
              <option value=113>Huskar</option>
              <option value=143>Invoker</option>
              <option value=123>Jakiro</option>
              <option value=15>Juggernaut</option>
              <option value=175>Keeper of the Light</option>
              <option value=45>Kunkka</option>
              <option value=203>Legion Commander</option>
              <option value=99>Leshrac</option>
              <option value=47>Lich</option>
              <option value=103>Lifestealer</option>
              <option value=49>Lion</option>
              <option value=155>Lone Druid</option>
              <option value=91>Luna</option>
              <option value=149>Lycanthrope</option>
              <option value=189>Magnus</option>
              <option value=183>Medusa</option>
              <option value=159>Meepo</option>
              <option value=17>Mirana</option>
              <option value=21>Morphling</option>
              <option value=173>Naga Siren</option>
              <option value=101>Nature's Prophet</option>
              <option value=67>Necrophos</option>
              <option value=115>Night Stalker</option>
              <option value=171>Nyx Assassin</option>
              <option value=163>Ogre Magi</option>
              <option value=109>Omniknight</option>
              <option value=215>Oracle</option>
              <option value=147>Outworld Devourer</option>
              <option value=83>Phantom Assassin</option>
              <option value=23>Phantom Lancer</option>
              <option value=25>Puck</option>
              <option value=27>Pudge</option>
              <option value=85>Pugna</option>
              <option value=73>Queen of Pain</option>
              <option value=29>Razor</option>
              <option value=59>Riki</option>
              <option value=167>Rubick</option>
              <option value=31>Sand King</option>
              <option value=153>Shadow Demon</option>
              <option value=19>Shadow Fiend</option>
              <option value=51>Shadow Shaman</option>
              <option value=145>Silencer</option>
              <option value=79>Skeleton King</option>
              <option value=197>Skywrath Mage</option>
              <option value=53>Slardar</option>
              <option value=181>Slark</option>
              <option value=65>Sniper</option>
              <option value=129>Spectre</option>
              <option value=137>Spirit Breaker</option>
              <option value=33>Storm Spirit</option>
              <option value=35>Sven</option>
              <option value=213>Techies</option>
              <option value=87>Templar Assassin</option>
              <option value=211>Terrorblade</option>
              <option value=55>Tidehunter</option>
              <option value=191>Timbersaw</option>
              <option value=63>Tinker</option>
              <option value=37>Tiny</option>
              <option value=161>Treant Protector</option>
              <option value=185>Troll Warlord</option>
              <option value=195>Tusk</option>
              <option value=165>Undying</option>
              <option value=135>Ursa</option>
              <option value=39>Vengeful Spirit</option>
              <option value=75>Venomancer</option>
              <option value=89>Viper</option>
              <option value=179>Visage</option>
              <option value=69>Warlock</option>
              <option value=121>Weaver</option>
              <option value=41>Windranger</option>
              <option value=217>Winter Wyvern</option>
              <option value=177>Wisp</option>
              <option value=57>Witch Doctor</option>
              <option value=43>Zeus</option>
            </select><br>
            <h3>Team 2 Player 5</h3>
            <select required name= 'tvalue2_5'>
              <option value="" disabled selected hidden>Please choose your hero...</option>
              <option value=199>Abaddon</option>
              <option value=209>Abyssal Underlord</option>
              <option value=141>Alchemist</option>
              <option value=133>Ancient Apparition</option>
              <option value=1>Anti-Mage</option>
              <option value=219>Arc Warden</option>
              <option value=3>Axe</option>
              <option value=5>Bane</option>
              <option value=125>Batrider</option>
              <option value=71>Beastmaster</option>
              <option value=7>Bloodseeker</option>
              <option value=119>Bounty Hunter</option>
              <option value=151>Brewmaster</option>
              <option value=193>Bristleback</option>
              <option value=117>Broodmother</option>
              <option value=187>Centuar Warrunner</option>
              <option value=157>Chaos Knight</option>
              <option value=127>Chen</option>
              <option value=107>Clinkz</option>
              <option value=97>Clockwerk</option>
              <option value=9>Crystal Maiden</option>
              <option value=105>Dark Seer</option>
              <option value=95>Dazzle</option>
              <option value=81>Death Prophet</option>
              <option value=169>Disruptor</option>
              <option value=131>Doom</option>
              <option value=93>Dragon Knight</option>
              <option value=11>Drow Ranger</option>
              <option value=207>Earth Spirit</option>
              <option value=13>Earthshaker</option>
              <option value=201>Elder Titan</option>
              <option value=205>Ember Spirit</option>
              <option value=111>Enchantress</option>
              <option value=61>Enigma</option>
              <option value=77>Faceless Void</option>
              <option value=139>Gyrocopter</option>
              <option value=113>Huskar</option>
              <option value=143>Invoker</option>
              <option value=123>Jakiro</option>
              <option value=15>Juggernaut</option>
              <option value=175>Keeper of the Light</option>
              <option value=45>Kunkka</option>
              <option value=203>Legion Commander</option>
              <option value=99>Leshrac</option>
              <option value=47>Lich</option>
              <option value=103>Lifestealer</option>
              <option value=49>Lion</option>
              <option value=155>Lone Druid</option>
              <option value=91>Luna</option>
              <option value=149>Lycanthrope</option>
              <option value=189>Magnus</option>
              <option value=183>Medusa</option>
              <option value=159>Meepo</option>
              <option value=17>Mirana</option>
              <option value=21>Morphling</option>
              <option value=173>Naga Siren</option>
              <option value=101>Nature's Prophet</option>
              <option value=67>Necrophos</option>
              <option value=115>Night Stalker</option>
              <option value=171>Nyx Assassin</option>
              <option value=163>Ogre Magi</option>
              <option value=109>Omniknight</option>
              <option value=215>Oracle</option>
              <option value=147>Outworld Devourer</option>
              <option value=83>Phantom Assassin</option>
              <option value=23>Phantom Lancer</option>
              <option value=25>Puck</option>
              <option value=27>Pudge</option>
              <option value=85>Pugna</option>
              <option value=73>Queen of Pain</option>
              <option value=29>Razor</option>
              <option value=59>Riki</option>
              <option value=167>Rubick</option>
              <option value=31>Sand King</option>
              <option value=153>Shadow Demon</option>
              <option value=19>Shadow Fiend</option>
              <option value=51>Shadow Shaman</option>
              <option value=145>Silencer</option>
              <option value=79>Skeleton King</option>
              <option value=197>Skywrath Mage</option>
              <option value=53>Slardar</option>
              <option value=181>Slark</option>
              <option value=65>Sniper</option>
              <option value=129>Spectre</option>
              <option value=137>Spirit Breaker</option>
              <option value=33>Storm Spirit</option>
              <option value=35>Sven</option>
              <option value=213>Techies</option>
              <option value=87>Templar Assassin</option>
              <option value=211>Terrorblade</option>
              <option value=55>Tidehunter</option>
              <option value=191>Timbersaw</option>
              <option value=63>Tinker</option>
              <option value=37>Tiny</option>
              <option value=161>Treant Protector</option>
              <option value=185>Troll Warlord</option>
              <option value=195>Tusk</option>
              <option value=165>Undying</option>
              <option value=135>Ursa</option>
              <option value=39>Vengeful Spirit</option>
              <option value=75>Venomancer</option>
              <option value=89>Viper</option>
              <option value=179>Visage</option>
              <option value=69>Warlock</option>
              <option value=121>Weaver</option>
              <option value=41>Windranger</option>
              <option value=217>Winter Wyvern</option>
              <option value=177>Wisp</option>
              <option value=57>Witch Doctor</option>
              <option value=43>Zeus</option>

            </select><br>
            <p style="margin-top:0.5cm;">
            <button type="submit" class="btn btn-primary btn-large">Predict</button>
            </p>           
          </form>
        </div>
    </div>
    <p style="margin-top:-0.5cm;">
    {{prediction_text}}
    </p>
  </div>
</body>
</html>